.sectionskill {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10% 10%;
}

.skillhero {
    color: white;
    text-align: center;
}

.skillcard {
    position: relative;
    isolation: isolate;
    
    padding: 1% 0;
    -webkit-backdrop-filter: blur(50px) saturate(250%) contrast(110%) brightness(100%);

    backdrop-filter: blur(50px) saturate(250%) contrast(110%) brightness(100%);


    background:
        linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.01)) padding-box,
        linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05)) border-box;


    border: 1.5px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
    pointer-events: auto;

    border-radius: 30px;
}

.skillcard::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;

    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.4),
        inset 0 10px 20px rgba(0, 0, 0, 0.5),
        inset 0 -1px 1px rgba(255, 255, 255, 0.2);

    pointer-events: none;
    z-index: 0;
}

.skilllist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    list-style: none;
    pointer-events: auto;
    padding: 20px;
    margin: 0;
}

.skillitem {
    color: white;
    padding: 15px 30px;
    font-size: small;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    -webkit-backdrop-filter: blur(50px) saturate(250%) contrast(110%) brightness(100%);
    backdrop-filter: blur(50px) saturate(250%) contrast(110%) brightness(100%);
    background:
        linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.01)) padding-box,
        linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05)) border-box;

    border: 1.5px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);

    pointer-events: auto;

    border-radius: 30px;

}


.skillitem::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    z-index: -1;
    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.4),

        inset 0 10px 20px rgba(0, 0, 0, 0.5),

        inset 0 -1px 1px rgba(255, 255, 255, 0.2);

    pointer-events: none;

}

.skillitem:hover {
    transform: translateY(-2px);

}